<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		button{
border-radius:30px;
border:1px solid red;
margin-left: 45%;
margin-right:45%;
width:10%; 
border:transparent;
background-color: blue;
font-family: "Arial";
font-size: 20px;
color: white;
		}
		button:hover{
			cursor: pointer;
			background-color: white;
			border:1px blue solid;
			color: blue;
		}
	</style>
	<style type="text/css">
		p{
			color:coral;
			font-size: 40px;
			font-family: Arial;
			text-align: center;
		}
	</style>
	<title>Donate | WeMechJobs</title>
</head>
<body>
<p>Hello!
Donate me and
<br>and help me run the server maybe?
It's upto you!
Thanks for using the service! :)

</p>
<a href="https://www.paypal.me/BigyanGhimire"><button>Donate Via PayPal</button></a>
</body>
</html>